<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KrakenBaseAddress" value="https://api.kraken.com"/>
    <add key="KrakenApiVersion" value="0"/>
    <add key="KrakenKey" value="FqObAJ1BjHAVJuXTzjroHWPd/ci7P9TmAPOtyGs/TpNTlPtdVZ6Bo1OC"/>
    <add key="KrakenSecret" value="AKjts3SDzciNap9I/Fe5bIBPQM7JOi+pBltMy37Mlk8SeJCPSdsLxtIvFT9pkLDOJxty1MUmUrvuXW+Vi7lu4g=="/>
  </appSettings>
</configuration>