<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KrakenBaseAddress" value="https://api.kraken.com"/>
    <add key="KrakenApiVersion" value="0"/>
    <add key="KrakenKey" value="FqObAJ1BjHAVJuXTzjroHWPd/ci7P9TmAPOtyGs/TpNTlPtdVZ6Bo1OC"/>
    <add key="KrakenSecret" value="AKjts3SDzciNap9I/Fe5bIBPQM7JOi+pBltMy37Mlk8SeJCPSdsLxtIvFT9pkLDOJxty1MUmUrvuXW+Vi7lu4g=="/>
    <add key="limitTrade" value="522.00"/>
    <add key="Usd2Eur" value="0.5"/>
    <add key="Eur2Usd" value="0.5"/>
    <add key="commission" value="0.52"/>
    <add key="riskFactorEur" value="20"/>
    <add key="riskFactorUsd" value="20"/>
    <add key="delayCycle" value="5000"/>
    <add key="delayOrder" value="500"/>
    <add key="delayBalance" value="5000"/>
    <add key="cryptos" value="ADA,DASH,BCH,SC,ZEC,BCH,XTZ,XLM,ETC"/>
  </appSettings>
</configuration>